*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}

body{
  background:#ceb9b9;
  color:#000;
}

/* NAVBAR */
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 40px;
  background:#ceb9b9;
  box-shadow:0 5px 20px rgba(0,0,0,0.1);
  position:sticky;
  top:0;
}

.logo{
  font-size:24px;
  font-weight:bold;
  font-family:cursive;
  color:rgb(16, 30, 73);
}

.nav-links{
  display:flex;
  list-style:none;
  gap:25px;
}

.nav-links a{
  text-decoration:none;
  color:rgb(16, 30, 73);
  font-weight:700;
  position:relative;
}

.nav-links a::after{
  content:"";
  width:0;
  height:2px;
  background:#ff7a00;
  position:absolute;
  left:0;
  bottom:-5px;
  transition:0.3s;
}

.nav-links a:hover::after{
  width:100%;
}

.menu-icon{
  display:none;
  font-size:22px;
  cursor:pointer;
}

/* HOME */
.home{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:60px 40px;
}

.home-text h1{
  font-size:40px;
  color: rgb(112, 104, 104);
}

.home-text span{
  color:rgb(16, 30, 73);
   font-weight:bold;
   font-family: cursive;
}

.home-text p{
  margin:15px 0;
  color: rgb(112, 104, 104) ;
}

.shop-btn{
  display:inline-block;
  text-decoration: none;
  padding:12px 28px;
  background:#ff7a00;
  color:#fff;
  border-radius:30px;
  transition:0.3s;
}

.shop-btn:hover{
  background:rgb(16, 30, 73);
  transform:translateY(-3px);
}

.home-image img{
  width:350px;
  transition:0.4s ease;
  border-radius: 20px;
}

/* BOX SHADOW HOVER */
.home-image img:hover{
  box-shadow: 10px 20px 10px black;
  transform: scale(1.05);
}

/* PRODUCTS */
.products{
  padding:60px 40px;
  text-align:center;
}
.products h2{
  color:rgb(112, 104, 104) ;
}

.product-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:30px;
  margin-top:40px;
}

.product-card{
  padding:20px;
  border-radius:20px;
  box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

.product-card img{
   width:85%;
   transition:0.4s ease;
   border-radius:20px;
}
.product-card img:hover{
    transform: scale(1.05);
  cursor: pointer;
}
.product-card button{
  margin-top:10px;
  padding:10px 20px;
  border:none;
  background:rgb(16, 30, 73);
  transition: 0.4s ease-in-out;
  color:#fff;
  border-radius:20px;
}
.product-card button:hover{
  background-color: orange;
  transform-style: preserve-3d;
  cursor: pointer;
}

/* CONTACT */
.contact{
  padding:60px 40px;
  text-align:center;
}
.contact h2{
  color: rgb(112, 104, 104);
}

.contact-form{
  max-width:400px;
  margin:auto;
}

.contact-form input,
.contact-form textarea{
  width:100%;
  margin:10px 0;
  padding:12px;
  border-radius: 10px;
  background-color: transparent;
  border:2px solid rgb(136, 141, 156);
}
.contact-form input,
.contact-form textarea:hover{
  cursor: pointer;

}
.submit{
  padding:12px 28px;
  background:#ff7a00;
  color:#fff;
  border-radius:30px;
  transition:0.3s;
  box-shadow: none;
}
.submit:hover{
  cursor: pointer;
  transform:translateY(-3px);
}

/* FOOTER */
.footer{
  background:rgb(16, 30, 73);
  color:#fff;
  text-align:center;
  padding:15px;
}

/* RESPONSIVE */
@media(max-width:768px){
  .home{
    flex-direction:column;
    text-align:center;
  }

  .nav-links{
    position:absolute;
    top:70px;
    right:0;
    background:#fff;
    width:100%;
    flex-direction:column;
    text-align:center;
    transform:translateY(-150%);
    transition:0.3s;
  }

  .nav-links.active{
    transform:translateY(0);
  }

  .menu-icon{
    display:block;
  }
}
